html,
body {
  height: 100vh;
  width: 100vw;
}

/* CalendarScreen */
.calendar-screen {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.rbc-calendar {
  height: 100% !important;
}

/* CalendarModal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 90vh;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

/* DateTimePicker */
.react-datetime-picker input:focus {
  outline: none;
}

.react-datetime-picker__wrapper {
  border: 0px solid gray !important;
}

/* Fabs */
.fab {
  border-radius: 50%;
  display: block;
  font-size: 22px;
  height: 70px;
  margin-top: 24px;
  position: fixed;
  right: 25px;
  bottom: 5vh;
  width: 70px;
  z-index: 99;
}

.fab-danger {
  bottom: 5vh;
  padding: 10px;
  position: fixed;
  left: 25px;
  z-index: 98;
}

/* Preloaded */
.preloader-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: rotatePreloader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatePreloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
